.text {
    position: relative;
    transition: transform 1s ease-in-out;
}

.move-up {
    transform: translateY(-150px);
}

.numbers {
    display: flex;
    gap: 20px;
    font-size: 28px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.numbers.show {
    opacity: 1;
}

.numbers.fade {
    opacity: 0;
}

.number {
    color: white;
    padding: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reroll-btn {
    margin-top: 50px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #34aedb;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    opacity: 0;
    transition: background 0.3s ease-in-out, opacity 1s ease-in-out;
}

.reroll-btn.show {
    opacity: 1;
}

.reroll-btn:disabled {
    background-color: #727b7c;
    cursor: not-allowed;
}

.reroll-btn:hover {
    background-color: #2980b6;
}